{% for door in game.doors %}
    <div>
        {{door}}
        {% if door.selected %}
            <! add style>
        {% endif %}
        {% if door.opened %}
            <a>Door</a>
            <! show what was behind door>
            {% if door.contains_money %}
            <! show money>
            {% else %}
            <! show goat>
            {% endif %}
        {% else %}

            <a>Door</a>
        {% endif %}
    </div>
    {% block buttons scoped %}
    <div>
        Choose a Door:
        <a href="{{url}}?door={{door.id}}">Door</a>
    </div>
    {% endblock buttons %}
{% endfor %}
<a href="{{ url_for('new_game') }}">reset</a>
