door_id : {{door_id }}

<h1>Services</h1>
{% for service in services %}
    <h2>service: {{ service['UUID'] }}</h2>
    <div style="padding-left: 50px">
        {% for char in service['characteristics'] %}
        <h3>characteristics: {{ char['name'] }}</h3>
        <div style="padding-left: 50px">
            <h4>handle</h4>
            {{ char['handle'] }}
            <h4>uuid</h4>
            {{ char['uuid'] }}
            <h4>read</h4>
            {{ char['read'] }}
            <h4>properties</h4>
            {% if 'WRITE' in char['properties'] %}
            <a href="/device/{{ device_addr }}/write?handle={{ char['handle'] }}">{{ char['properties'] }}</a>
            {% else %}
            {{ char['properties'] }}
            {% endif %}
        </div><br/><br/>
        {% endfor %}
    </div>
{% endfor %}